<template name="soulStatus">
  <h1 style="background: #ccc;">
    <center>Current Soul Status</center>
  </h1>
  <div>
    <table class="main-soul-state" style="font-size: 25pt" width="100%" cellpadding="10" cellspacing="10">
      <tr class="head" style="background: #ccc;">
        <td align="left">SOUL</td>
        <td align="center">STATUS</td>
        <td align="right">UNIVERSE</td>
      </tr>
      <tr>
        <td align="left">{{soul}}</td>
        <td align="center">{{soul}}</td>
        <td align="right">{{soul}}</td>
      </tr>
      <tr>
        <td align="left">{{status}}</td>
        <td align="center">{{status}}</td>
        <td align="right">{{status}}</td>
      </tr>
      <tr>
        <td align="left">{{universe}}</td>
        <td align="center">{{universe}}</td>
        <td align="right">{{universe}}</td>
      </tr>
    </table>
  </div>
  <h1 class="food" style="background: #ccc; color: #ccc;">
    <center>.</center>
  </h1>
  <br/><br/><br/>
</template>
