<template name="soulStatus">
  <h1 class="food">
    <center>Current Soul Status</center>
  </h1>

  <h1 class="food" style="background: #ccc; color: #ccc;">
    <center>GRAPHICS</center>
  </h1>

  <center class="loading">
    <img id="loading-icon" src="/loading.gif">
    <div id="soulchart" width="400" height="400" style="width: 100%; display: none;"></div>
  </center>

  <div>
    <div class="food">
    <table class="main-soul-state" style="font-size: 20pt" width="100%" cellpadding="10" cellspacing="10">
      <tr>
        <td align="left">SOUL</td>
        <td align="center">STATUS</td>
        <td align="right">UNIVERSE</td>
      </tr>
    </table>
    </div>>
    <table class="main-soul-state" style="font-size: 25pt" width="100%" cellpadding="10" cellspacing="10">
      <tr>
        <td align="left">{{soul}}</td>
        <td align="center">{{soul}}</td>
        <td align="right">{{soul}}</td>
      </tr>
      <tr>
        <td align="left">{{status}}</td>
        <td align="center">{{status}}</td>
        <td align="right">{{status}}</td>
      </tr>
      <tr>
        <td align="left">{{universe}}</td>
        <td align="center">{{universe}}</td>
        <td align="right">{{universe}}</td>
      </tr>
      <tr>
        <td align="left">{{universe}}</td>
        <td align="center">{{universe}}</td>
        <td align="right">{{universe}}</td>
      </tr>
    </table>
  </div>


  <h1 class="food" style="background: #ccc; color: #ccc;">
    <center>&nbsp;</center>
  </h1>
  <br/><br/><br/>
</template>
